@media (max-width: 1000px) {
    html {
        height: 100%;
    }
    body {
        height: 100%;
        max-height: unset;
    }
    /*Menu*/
    .header-box {
        display: none;
    }
    .headline-box {
        color: white;
        background-color: rgb(6, 6, 78);
        display: flex;
        justify-content: center;
    }
    .headline-box h1 {
        line-height: unset;
        position: relative;
        z-index: 1;
    }
    .headline-box a {
        text-decoration: none;
        color: white;
    }
    .responsive-menu {
        background-color: rgb(6, 6, 78);
        display: flex;
        justify-content: center;
        height: 0px;
        transform: translateY(-200px);
        transition: all 400ms ease-in-out;
    }
    .show-responsive-menu {
        height: 120px;
        transform: translateY(0px);
        transition: all 600ms ease-in-out;
        border-bottom-style: solid;
        border-color: rgba(128, 128, 128, 0.514);
        border-width: 1px;
        box-shadow: 0px 1.5px rgba(128, 128, 128, 0.315);
        color: rgb(60, 60, 60);
    }
    .menu {
        position: relative;
        z-index: 0;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        font-weight: bold;
    }
    .menu-link {
        padding-bottom: 10px;
    }
    .headline-transition {
        animation: trans-in 600ms;
    }
    @keyframes trans-in {
        0% {
            transform: translateX(0px)
        }
        70% {
            transform: translateX(-150px);
        }
    }
    .headline-transition-out {
        animation: trans-out 500ms;
    }
    @keyframes trans-out {
        0% {
            transform: translateX(0px)
        }
        70% {
            transform: translateX(-150px);
        }
    }
    .burger {
        width: 24px !important;
        height: 24px;
    }
    .burger-link {
        display: flex;
        position: absolute;
        top: 10px;
        right: 30px;
    }
    /*Quiz*/
    .left {
        display: none;
    }
    .right {
        width: 100%;
    }
    .main-container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .quiz-container {
        height: 100vh;
    }
    .quiz-content {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .startscreen {
        justify-content: center;
    }
    .startscreen h1 {
        font-size: 25px;
    }
    .startscreen h3 {
        font-size: 22px;
    }
    .start-button-box {
        height: unset;
        justify-content: center;
        align-items: unset;
        padding: 0px;
    }
    .start-button {
        font-size: 16px;
    }
    .trophy img {
        width: 65px;
        height: 130px;
    }
    .trophy {
        bottom: 350px;
    }
    .quiz-footer {
        padding-top: 35px;
    }
    .main-button-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-button-box button {
        width: 300px;
        margin-bottom: 10px;
    }
    .footer-box {
        background-color: rgb(6, 6, 78);
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0px;
    }
    .footer {
        display: flex;
        justify-content: space-around;
    }
    .footer a {
        text-decoration: none;
        color: white;
        padding: 20px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .impressum {
        padding-left: 0px;
        padding: 10px;
        text-align: center;
    }
    .impressum h2 {
        line-height: 50px;
    }
    .datenschutz {
        padding-left: 0px;
        padding-right: 0px;
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }
    .datenschutz h1 {
        text-align: center;
        font-size: 30px;
    }
    .datenschutz h2 {
        font-size: 25px;
        display: block;
    }
    .datenschutz a {
        word-break: break-all;
    }
}